/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);






.themain{margin-inline: 10%;}




.headercss{

    text-align: center;
    height: 8rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    width: 100%;
    padding: 18px;
    color: #3d5a80;
    display: flex;
    justify-content: space-between;
    
}
.headercss a{
    font-size:large;
    text-align: center;
}

.headercss .logbutton{
    text-align: right;
}


.spselect{
    height: 3rem;
}
.labelone{
    display: flex;
   
   
}


.labeltwo{
    display: flex;
    justify-content:space-between;
}


.layertwo{
    display: flex;
    justify-content: space-between;
}
.fieldthree{
    width: 200%;
   
}


.logbutton{
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    margin: 0 10px;
    width: 9rem;
    padding: 10px;
   
    transition: 0.2s;
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(104, 85, 224, 1);
}
.logbutton:hover {
    color: white;
    width:100px;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
    
  }
  .disabled-button {
    opacity: 0.6;
    cursor: not-allowed;
  }
  #sendOtpButton:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #2098ce;
  }

.reguser{


    display: inline-block;
    align-items: center; 
    margin-left: 27%;
 
   
 


}
html {
    height: 100%;
   
}

body {
    font-family: Montserrat, arial, verdana;
    background: transparent;
    overflow: hidden;
    font-size: larger;
}

/*form styles*/
#msform {
    text-align: center;
    position: absolute;
    margin-top: 30px;
   height: 100rem;
   
}


#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 8px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 140%;
    margin: 0 10%;
    

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #2098ce;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    margin: 0 10px;
    width: 9rem;
    padding: 10px;
   
    transition: 0.2s;
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(104, 85, 224, 1);
}

#msform .action-button:hover, #msform .action-button:focus {
    color: white;
    width:100px;
   box-shadow: rgba(104, 85, 224, 0.6) 0px 1px 0px, rgba(104, 85, 224, 0.6) 0px 0px 8px;
    background-color: rgba(104, 85, 224, 1);
}

#msform .action-button-previous {
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    margin: 0 10px;
    width: 9rem;
    padding: 9px;
   
    transition: 0.2s;
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(104, 85, 224, 1);
    
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    color: white;
    width:100px;
   box-shadow: rgba(104, 85, 224, 0.6) 0px 1px 0px, rgba(104, 85, 224, 0.6) 0px 0px 8px;
    background-color: rgba(104, 85, 224, 1);
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    width: 200%;
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
    
}

#progressbar li {
    list-style-type: none;
    color: #666;
    text-transform: uppercase;
    font-size: 12px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 24px;
    height: 24px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps blue*/
/*The number of the step and the connector before it = blue*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #2098ce;
    color: white;
}

.dropdownregi{
    width: 100%;
    height: 3rem;
    color: #666;
    background-color: white;
   border-style: solid;
   border-radius: 5px;
}


.reguserbut{display: flex;
justify-content: space-between;}





 .labelone{
    margin-right: 33rem;
    font-size: 1.4rem;
}
.labeltwo{
    margin-right: 37rem;
    font-size: 1.4rem;
}
.labelthree{
    margin-right: 59rem;
    font-size: 1.4rem;
} 


.submitbutton{cursor: pointer;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    margin: 0 10px;
    width: 9rem;
    padding: 7px;
   
    transition: 0.2s;
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(104, 85, 224, 1);}

    .submitbutton:hover{
        color: white;
    width:100px;
   box-shadow: rgba(104, 85, 224, 0.6) 0px 1px 0px, rgba(104, 85, 224, 0.6) 0px 0px 8px;
    background-color: rgba(104, 85, 224, 1);
    

    }




/* For mobile screens */
@media (max-width: 768px) {
    .headercss {
      padding: 10px;
      font-size: 18px;
    }
  
    .logbutton {
      width: 100px;
    }
    
    .labelone, .labeltwo, .labelthree {
      margin-right: 0;
    }
  
    /* Add more styles as needed */
  }
  
  /* For tablet screens */
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Adjust styles for tablet screens here */
  }
  
  /* For larger screens (PC) */
  @media (min-width: 1025px) {
    /* Adjust styles for larger screens (PC) here */
  }
  

  